body,
html {
  height: 100%;
  background: #ffffff00;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* overflow-y: scroll; */
  overflow-x: hidden;
}

/* Begining of Scroll function */

body::-webkit-scrollbar{
  width: 0.5em;
}

body::-webkit-scrollbar-thumb{
  border-radius: 1em;
  background: rgb(214, 214, 214);
}

body::-webkit-scrollbar-thumb:hover{
  background: grey;
}

body::-webkit-scrollbar-track{
  background: transparent;
}

/* End of scroll function */
.slideshow {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slideshow .slider {
  width: 100vw;
  height: 100vw;
  z-index: 2;
}
.slideshow .slider * {
  outline: none;
}
.slideshow .slider .item {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  border: none;
}
.slideshow .slider .item .text {
  display: none;
}
.slideshow .slider .item img {
  min-width: 101%;
  min-height: 101%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slideshow .slick-dots {
  position: fixed;
  z-index: 100;
  width: 40px;
  height: auto;
  bottom: auto;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  left: auto;
  color: #fff;
  display: block;
}
.slideshow .slick-dots li {
  display: block;
  width: 100%;
  height: auto;
}
.slideshow .slick-dots li button {
  position: relative;
  width: 20px;
  height: 15px;
  text-align: center;
}
.slideshow .slick-dots li button:before {
  content: "";
  background: #fff;
  color: #fff;
  height: 2px;
  width: 20px;
  border-radius: 0;
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
}
.slideshow .slick-dots li.slick-active button:before {
  width: 40px;
  opacity: 1;
}
.slideshow.slideshow-right {
  left: 0;
  z-index: 1;
  width: 50vw;
  pointer-events: none;
}
.slideshow.slideshow-right .slider {
  left: 0;
  position: absolute;
}

.slideshow-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 80px;
  width: 100vw;
  text-align: center;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  pointer-events: none;
  text-transform: uppercase;
  letter-spacing: 20px;
  line-height: 0.8;
}

@media (max-width: 767px) {
  .slideshow-text {
    font-size: 40px;
  }
}

* {
  box-sizing: border-box;
}

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#5e5e5e;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}
.main-container{
  position: relative;
}

.other-section{
  position: absolute;
  top:41em;
  z-index: 1000 ;
  /* background:  url(./img/img-l2.jpg) no-repeat rgba(36, 34, 34, 0.507); */
}

.appointment-text:hover{
  text-decoration: none !important;
  color: #5e5e5e !important;
}

.appointment-text-head:hover{
  text-decoration: none;
  color: grey !important;
  transition: ease-out 0.5s;
}

.social-icons:hover{
  color: grey !important;
  transition: ease-out 0.1s !important;
}

.social-icons{
  font-size: 2em;
}

.social-icon-container{
  position: relative;
  left: 18em;
}

.footer-container{
  position: relative;
}

.social-icon-container{
  position: absolute;
  top: 10rem;
}